In [1]:
import pandas as pd

In [6]:
#Import data frame with standardized revenues and expenditures per school district
std_districts_FL = pd.read_csv(r"..\Data\Florida data\District Finances\FL_District_Finances.csv", index_col=0)

std_districts_FL.head()

,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT
0,ALACHUA COUNTY SCHOOL DISTRICT,2016,9.702167,1.270125,4.333970,4.098072,9.340386,4.968435,3.352738,0.626344,0.328715
1,BAKER COUNTY SCHOOL DISTRICT,2016,8.530388,0.965414,6.065374,1.499600,8.362055,4.367453,3.266693,0.565974,0.145542
2,BAY COUNTY SCHOOL DISTRICT,2016,9.979338,0.934416,3.981534,5.063389,9.527591,5.411936,2.667003,0.541305,0.797883
3,BRADFORD COUNTY SCHOOL DISTRICT,2016,10.011229,1.574860,5.697130,2.739239,9.352776,5.072052,3.243606,0.945415,0.083593
4,BREVARD COUNTY SCHOOL DISTRICT,2016,9.968929,1.037302,4.560299,4.371328,9.390130,5.292529,2.829184,0.455725,0.526518

In [8]:
#Import data frame with crime rates per county 
FL_juv_crime_rate = pd.read_csv(r"..\Data\Florida data\Juvenile Crime by County\FL_Juvenile_crime_rate.csv", index_col=0)
FL_juv_crime_rate.head()

   Year COUNTY NAME  TOTAL ARRESTS  JUVENILE POP  CRIME RATE
0  1998     Alachua           1854         44683    4.149229
1  1998       Baker            114          6129    1.860010
2  1998         Bay           1898         36257    5.234851
3  1998    Bradford             62          5861    1.057840
4  1998     Brevard           4721        104005    4.539205

In [53]:
#Have both data set with the same range of years: 1998-2016
FL_juv_crime_rate = FL_juv_crime_rate.loc[FL_juv_crime_rate['Year'] != 2017]

In [34]:
#Pull out county names from the school districts
std_districts_FL['COUNTY NAME'] = std_districts_FL.NAME.str.title().str.split().str[0]

0            Alachua
1              Baker
2                Bay
3           Bradford
4            Brevard
5            Broward
6            Calhoun
7          Charlotte
8             Citrus
9               Clay
10           Collier
11          Columbia
12        Miami-Dade
13                De
14             Dixie
15             Duval
16          Escambia
17           Flagler
18          Franklin
19           Gadsden
20         Gilchrist
21            Glades
22              Gulf
23          Hamilton
24            Hardee
25            Hendry
26          Hernando
27         Highlands
28      Hillsborough
29            Holmes
            ...
1243            Levy
1244         Liberty
1245         Madison
1246         Manatee
1247          Marion
1248          Martin
1249          Monroe
1250          Nassau
1251        Okaloosa
1252      Okeechobee
1253          Orange
1254         Osceola
1255            Palm
1256           Pasco
1257        Pinellas
1258            Polk
1259          Putnam
1260              St
1261              St
1262           Santa
1263        Sarasota
1264        Seminole
1265          Sumter
1266        Suwannee
1267          Taylor
1268           Union
1269         Volusia
1270         Wakulla
1271          Walton
1272      Washington
Name: COUNTY NAME, Length: 1273, dtype: object

In [51]:
#This loop deals with the few exceptions that weren't covered in the previous command

for i, row in std_districts_FL.iterrows():
    for x in ["ST JOHNS", "ST LUCIE", "SANTA ROSA", "DE SOTO", "INDIAN RIVER"]:
        if x in std_districts_FL['NAME'][i]:
            std_districts_FL.at[i,'COUNTY NAME'] = x

In [57]:
std_districts_FL.rename(columns={'YRDATA': 'Year'}, inplace=True)
juv_crime_vs_finances = std_districts_FL.merge(FL_juv_crime_rate, on=["COUNTY NAME","Year"], how = 'inner')

list(juv_crime_vs_finances)

['NAME',
 'Year',
 'TOTALREV',
 'TFEDREV',
 'TSTREV',
 'TLOCREV',
 'TOTALEXP',
 'TCURINST',
 'TCURSSVC',
 'TCURONON',
 'TCAPOUT',
 'COUNTY NAME',
 'TOTAL ARRESTS',
 'JUVENILE POP',
 'CRIME RATE']

In [59]:
cols = ['COUNTY NAME',
     'Year',
     'TOTALREV',
     'TFEDREV',
     'TSTREV',
     'TLOCREV',
     'TOTALEXP',
     'TCURINST',
     'TCURSSVC',
     'TCURONON',
     'TCAPOUT',
     'TOTAL ARRESTS',
     'JUVENILE POP',
     'CRIME RATE']

juv_crime_vs_finances = juv_crime_vs_finances[cols]

In [62]:
juv_crime_vs_finances.tail()

,COUNTY NAME,Year,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT,TOTAL ARRESTS,JUVENILE POP,CRIME RATE
1133,Union,1998,9.627917,0.445549,8.140017,1.042351,9.026361,2.911409,2.262748,0.493086,3.338807,27,2918,0.925291
1134,Volusia,1998,6.368639,0.397319,3.113438,2.857882,5.882819,3.074372,1.857039,0.253060,0.545439,4635,88285,5.250042
1135,Wakulla,1998,5.875726,0.385078,4.269404,1.221243,5.591486,2.684154,2.063642,0.329177,0.394109,211,5612,3.759800
1136,Walton,1998,6.563068,0.496506,1.601852,4.464710,6.212264,2.964011,1.936932,0.381726,0.837177,204,8675,2.351585
1137,Washington,1998,9.854067,1.000598,7.040670,1.812799,8.198864,3.736842,2.766148,1.348983,0.339414,27,4890,0.552147

In [61]:
juv_crime_vs_finances.to_csv(r"..\Data\Florida data\Merged_Datasets\juvenile_crime_vs_finances.csv")