In [34]:
import pandas as pd

In [45]:
#here I'm reading all the discipline csv files we'll be using and concatenating
dis1617df= pd.read_csv("/Users/paulososa/github/Intro_DS_Project/Data/Florida data/FLDOE/Discipline/1617DisciplineReport.csv",header=3)
dis1516df= pd.read_csv("/Users/paulososa/github/Intro_DS_Project/Data/Florida data/FLDOE/Discipline/1516DisciplineReport.csv",header=3)
dis1415df= pd.read_csv("/Users/paulososa/github/Intro_DS_Project/Data/Florida data/FLDOE/Discipline/1415DisciplineReport.csv",header=3)
dis1112df= pd.read_csv("/Users/paulososa/github/Intro_DS_Project/Data/Florida data/FLDOE/Discipline/1112DisciplineReport.csv",header=3)

In [44]:
dis1213df.head()

,District #,District Name,Discipline Code,Discipline Description,White,Black or African American,Hispanic/Latino,Asian,Native Hawaiian or Other Pacific Islander,American Indian or Alaska Native,Two or More Races,Female,Male,Total
0,0,FLORIDA,C,Corporal Punishment,932,320,95,1,2,5,87,212,"1,230","1,442"
1,0,FLORIDA,E,Expelled Without Continuing Educational Services,70,73,31,3,0,3,15,31,164,195
2,0,FLORIDA,F,Expelled With Continuing Educational Services,143,113,54,1,3,1,13,81,247,328
3,0,FLORIDA,H,Suspension Extended Pending Hearing,148,248,144,8,0,0,23,177,394,571
4,0,FLORIDA,I,Suspension In-School,"59,921","69,863","47,917","1,319",220,582,"7,117","62,453","124,486","186,939"