In [9]:
import pandas as pd
import XlsxWriter

ModuleNotFoundError: No module named 'XlsxWriter'

In [2]:
dfnaep= pd.read_csv("/Users/paulososa/Intro_DS_Project/Data/US-Educational-Finances/naep.csv")

In [3]:
dfnaep.head()

   YEAR       STATE         AVG_SCORE TEST_SUBJECT  TEST_YEAR
0  2017     Alabama  232.170687741509  Mathematics          4
1  2017      Alaska  230.456277558902  Mathematics          4
2  2017     Arizona  234.435788152091  Mathematics          4
3  2017    Arkansas  233.848143678937  Mathematics          4
4  2017  California  232.262940994562  Mathematics          4

In [5]:
flNaep=dfnaep[(dfnaep.STATE=='Florida')]

In [12]:
flNaep.to_csv('Florida_naep', sep= '\t', encoding= 'utf-8')