In [6]:
import pandas as pd

In [16]:
#Reading the path to all the csv in School Improvement rating
#Note: the sir15 is missing from the folder
sir09= pd.read_csv("/Users/paulososa/github/Intro_DS_Project/Data/Florida data/FLDOE/School Improvement Ratings/SIR09.csv",header=4)
sir10= pd.read_csv("/Users/paulososa/github/Intro_DS_Project/Data/Florida data/FLDOE/School Improvement Ratings/SIR10.csv",header=4)
sir11= pd.read_csv("/Users/paulososa/github/Intro_DS_Project/Data/Florida data/FLDOE/School Improvement Ratings/SIR11.csv",header=4)
sir12= pd.read_csv("/Users/paulososa/github/Intro_DS_Project/Data/Florida data/FLDOE/School Improvement Ratings/SIR12.csv",header=4)
sir13= pd.read_csv("/Users/paulososa/github/Intro_DS_Project/Data/Florida data/FLDOE/School Improvement Ratings/SIR13.csv",header=4)
sir14= pd.read_csv("/Users/paulososa/github/Intro_DS_Project/Data/Florida data/FLDOE/School Improvement Ratings/SIR14.csv",header=4)
sir16= pd.read_csv("/Users/paulososa/github/Intro_DS_Project/Data/Florida data/FLDOE/School Improvement Ratings/SIR16.csv",header=4)
sir17= pd.read_csv("/Users/paulososa/github/Intro_DS_Project/Data/Florida data/FLDOE/School Improvement Ratings/SIR17.csv",header=4)

In [18]:
sir09_17= pd.concat([sir09, sir10,sir11, sir12, sir13, sir14, sir16, sir17], sort= False)

In [21]:
sir11.head()

,District-School Number,District Number,District Name,School Number,School Name,% Making Reading Gains in 2011,% Making Reading Gains in 2010,Difference in Reading Gains between 2011 and 2010,"Improving, Maintaining, or Declining in Reading",% Making Math Gains in 2011,...,Grade 07,Grade 06,Grade 05,Grade 04,Grade 03,Charter,School Type,Minority Rate,Free or Reduced Lunch Rate,Region
0,10953,1,ALACHUA,953,CARING & SHARING LEARNING SCHOOL,44.0,70.0,-26.0,DECLINING,67.0,...,P,D,F,D,NaN,YES,1,98,90,2
1,10991,1,ALACHUA,991,"FLORIDA SIATECH AT GAINESVILLE,INC.",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,YES,3,78,4,2
2,30581,3,BAY,581,ROSENWALD HIGH SCHOOL,30.0,40.0,-10.0,DECLINING,51.0,...,NaN,NaN,NaN,NaN,NaN,NO,3,60,79,1
3,30591,3,BAY,591,C C WASHINGTON ACADEMY,48.0,44.0,4.0,MAINTAINING,63.0,...,NaN,NaN,NaN,NaN,NaN,NO,2,50,90,1
4,60405,6,BROWARD,405,LANIER-JAMES EDUCATION CENTER,50.0,43.0,7.0,IMPROVING,30.0,...,P,P,F,P,NaN,NO,4,86,84,5

In [22]:
sir09_17.head()

,District-School Number,District Number,District Name,School Number,School Name,% Making Reading Gains in 2009,% Making Reading Gains in 2008,Difference in Reading Gains between 2009 and 2008,"Improving, Maintaining, or Declining in Reading",% Making Math Gains in 2009,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 37,Legend for School Types: 01=Elementary; 02=Middle; 03=High; 04=Combination
0,10953.0,1.0,ALACHUA,953.0,CARING & SHARING LEARNING SCHOOL,71.0,62.0,9.0,IMPROVING,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30271.0,3.0,BAY,271.0,A. D. HARRIS HIGH SCHOOL,30.0,48.0,-18.0,DECLINING,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30561.0,3.0,BAY,561.0,HANEY TECHNICAL HIGH SCHOOL,35.0,73.0,-38.0,DECLINING,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30761.0,3.0,BAY,761.0,EMERALD BAY ACADEMY,43.0,50.0,-7.0,DECLINING,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,60405.0,6.0,BROWARD,405.0,LANIER-JAMES EDUCATION CENTER,35.0,50.0,-15.0,DECLINING,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

SyntaxError: invalid syntax (<ipython-input-25-e171e08c2dda>, line 1)